<h2>投稿履歴</h2>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @user.events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.content %></td>
    <td><%= link_to "応募者一覧", apply_members_event_path(event.id) if user_signed_in? %>
  </tr>
  <% end %>
</table>
